

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../libs/glyphicons-halflings-regular.ttf') format('truetype')
}
body {
	margin: 0;
}

h1 {
	background: green;
	display: inline-block;
	width: 5rem;
}

.date {
	position: relative;
}

.dow {
	color: #a8a8ac;
}
.day {
	padding: 0 !important;
}
.day {
	background: none!important;
	pointer-events: none;
}
.day span{
	border-radius: 50%!important;
	display: inline-block;
	width: 0.5rem!important;
	height: 0.5rem!important;
	line-height: 0.5rem!important;
	margin: 3px 0!important;
}

.day.active span {
	background: #f9860b!important;
	color: #fff;	
}