

<div>
<link rel="stylesheet" href="css/basic.css"/>
<mu-list>
	<mu-list-item  toggleNested title="ES5" :open="open">
		<mu-list-item to="/basic/defineProperty" title="DefineProperty" slot="nested">
		</mu-list-item>		
		<mu-list-item to="/basic/async" title="Async" slot="nested">
		</mu-list-item>		
	</mu-list-item>
	<mu-divider></mu-divider>
	<mu-list-item  toggleNested title="HTML5" :open="open">
		<mu-list-item to="/basic/canvas" title="Canvas" slot="nested">
		</mu-list-item>		
		<mu-list-item to="/basic/drag" title="Drag" slot="nested">
		</mu-list-item>		
	</mu-list-item>
	<mu-divider></mu-divider>
</mu-list>

<keep-alive>
<router-view></router-view>
</keep-alive>
</div>